/**
 * @name Discord Omni
 * @version 1.0.0
 * @description Omni theme for discord, a theme inspired on Omni Theme by Rocketseat.
 * @autor @datsfilipe (GitHub) / @dtsf#3763 (Discord)
 * @website https://github.com/datsfilipe/discord-omni
*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@300;600;700&family=Poppins:wght@400;600;700&display=swap");
:root {
  --background: #191622;
  --background-darker: #13111B;
  --hover: #44475a;
  --active: #41414D;
  --dark-text: #1b1b1c;
  --foreground: #E1E1E6;
  --purple: #988BC7;
  --purple-darker: #483C67;
  --cyan: #78D1E1;
  --green: #67E480;
  --orange: #E89E64;
  --pink: #FF79C6;
  --red: #E96379;
  --yellow: #E7DE79; }

:root {
  --settingsiconssize: 18px;
  --settingsiconsgap: 14px;
  --font-primary: "Inter";
  --font-display: "Poppins";
  --font-code: "JetBrains Mono";
  --input-border: 1px; }

[class*="theme-dark"] {
  --header-primary: #67E480;
  --text-link: var(--pink);
  --header-secondary: #E1E1E6;
  --text-normal: #E1E1E6;
  --text-muted: #8a8a8c;
  --interactive-normal: #c9c9cc;
  --interactive-hover: #E1E1E6;
  --interactive-active: #fefefe;
  --interactive-muted: #8a8a8c;
  --background-primary: #191622;
  --background-secondary: #191622;
  --background-secondary-alt: #191622;
  --background-tertiary: #13111B;
  --background-accent: #483C67;
  --background-floating: #121019;
  --info-positive-text: #E1E1E6;
  --info-warning-text: #E1E1E6;
  --info-danger-text: #E1E1E6;
  --info-help-text: #E1E1E6;
  --status-warning-text: #1b1b1c;
  --scrollbar-thin-thumb: #988BC7;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #988BC7;
  --scrollbar-auto-scrollbar-color-thumb: #988BC7;
  --scrollbar-auto-scrollbar-color-track: transparent;
  --logo-primary: #67E480;
  --info-help-background: #191622;
  --info-help-foreground: #E1E1E6;
  --channels-default: #8a8a8c;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #191622;
  --deprecated-card-bg: rgba(25, 22, 34,0.6);
  --deprecated-card-editable-bg: rgba(25, 22, 34,0.3);
  --deprecated-store-bg: #483C67;
  --deprecated-quickswitcher-input-background: #483C67;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(25, 22, 34,0.1);
  --deprecated-text-input-border: rgba(255, 121, 198,0.4);
  --deprecated-text-input-border-hover: #FF79C6;
  --deprecated-text-input-border-disabled: rgba(255, 121, 198,0.3);
  --deprecated-text-input-prefix: #E1E1E6; }

::-webkit-scrollbar-track {
  background-color: transparent !important; }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(152, 139, 199, 0.1) !important; }

.wrapperControlsHidden-35Gtol {
  cursor: none; }

.layer-3QrUeG {
  transform: none !important;
  opacity: 1 !important; }

.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada {
  pointer-events: auto !important;
  will-change: unset; }

.animating-rRxada.stop-animations {
  z-index: 100 !important; }

div[class*="contents-"] svg path {
  fill: var(--green); }

div[class*="contents-"]:hover svg path {
  fill: rgba(103, 228, 128, 0.6); }

[class*="iconContainer-"] svg {
  color: var(--green); }

.modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz {
  color: var(--green); }

[class*="iconWrapper-"] [class*="icon-"], [class*="iconWrapper-"] [class*="clickable-"] {
  color: var(--green) !important; }

[class*="iconWrapper-"]:hover [class*="icon-"], [class*="iconWrapper-"]:hover [class*="clickable-"] {
  color: rgba(103, 228, 128, 0.8) !important; }

[class*="bd-button"] {
  background-color: var(--green);
  color: var(--dark-text); }
  [class*="bd-button"]:hover {
    background-color: rgba(103, 228, 128, 0.6); }

[class*="item-"]:hover {
  background-color: rgba(72, 60, 103, 0.3) !important; }

[class*="iconVisibility"] [class*="content-"]:hover {
  background-color: rgba(72, 60, 103, 0.3) !important; }

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: rgba(72, 60, 103, 0.6) !important; }

span[class*="iconBadge-"] {
  background-color: var(--red); }

.theme-dark .footer-2gL1pp {
  background-color: var(--background-darker); }

[class*="react-datepicker"], [class*="calendarPicker-"], [class*="theme-dark"] {
  background-color: var(--background) !important; }
  [class*="react-datepicker"] [class*="react-datepicker__header"], [class*="calendarPicker-"] [class*="react-datepicker__header"], [class*="theme-dark"] [class*="react-datepicker__header"] {
    background-color: var(--background-darker); }

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background);
  color: var(--foreground); }

[class*="protip-"] {
  padding: 2px;
  font-family: var(--font-primary) !important;
  letter-spacing: 0px !important; }

.result-oB0z--[aria-selected=true] {
  background: rgba(72, 60, 103, 0.4) !important; }

[class*="codeRedemptionRedirect-"] {
  background-color: var(--purple-darker) !important;
  border-color: var(--pink) !important;
  color: var(--foreground) !important; }

main[class*="chatContent-"] [class*="messagesWrapper-"] {
  background-color: var(--background-darker); }

main[class*="chatContent-"] [class*="scroller-"] {
  background-color: var(--background);
  margin: 0 12px 26px 12px;
  border-radius: 0 0 15px 15px; }

[class*="inline"] {
  padding: 1px;
  color: var(--foreground);
  letter-spacing: 1px;
  font-family: var(--font-code);
  border-radius: 4px; }

[class*="markup-"] code {
  color: var(--foreground) !important;
  letter-spacing: 1px !important;
  font-family: var(--font-code) !important;
  padding: 10px;
  background: rgba(72, 60, 103, 0.2) !important;
  border: 1px solid rgba(72, 60, 103, 0.4) !important;
  border-radius: 8px; }

[class*="message-"] {
  border-radius: 8px; }

[class*="mentioned-"] {
  background-color: rgba(72, 60, 103, 0.6);
  border-radius: 0 8px 8px 0; }
  [class*="mentioned-"]:hover {
    background-color: rgba(72, 60, 103, 0.4) !important; }
    [class*="mentioned-"]:hover::before {
      opacity: 0.6; }
  [class*="mentioned-"]::before {
    background-color: var(--pink); }

[class*="divider-"] span[class*="content-"] {
  color: var(--pink) !important;
  background-color: transparent !important; }

[class*="newMessagesBar-"] {
  margin-top: 8px;
  border-radius: 15px;
  height: 30px;
  background-color: rgba(72, 60, 103, 0.8); }
  [class*="newMessagesBar-"] button {
    color: var(--foreground) !important; }

[class*="jumpToPresentBar-"] {
  margin-bottom: 13px;
  padding: 2px;
  position: absolute;
  cursor: auto;
  border-radius: 15px;
  background-color: rgba(72, 60, 103, 0.8); }
  [class*="jumpToPresentBar-"]:active {
    margin-bottom: 13px;
    padding: 2px;
    position: absolute; }
  [class*="jumpToPresentBar-"] button {
    cursor: pointer;
    color: var(--foreground) !important; }

[class*="chatContent-"] [class*="divider-"] {
  border-color: rgba(25, 22, 34, 0.8); }
  [class*="chatContent-"] [class*="divider-"] span {
    background-color: var(--red);
    color: var(--dark-text); }
    [class*="chatContent-"] [class*="divider-"] span svg path {
      color: var(--red);
      fill: var(--red); }

[class*="embedFull-"] {
  border-radius: 8px;
  background: rgba(72, 60, 103, 0.2); }

form[class*="form-"] [class*="wrapper-"] {
  background-color: rgba(72, 60, 103, 0.2); }

span[class*="mention"] {
  background: var(--pink) !important;
  color: var(--dark-text) !important; }

[class*="iconMention-"] svg path {
  fill: var(--dark-text) !important; }

form[class*="form-"] {
  background-color: var(--background-darker); }
  form[class*="form-"]::before {
    background: transparent !important; }

[class*="channelTextArea-"] {
  border-radius: 20px !important; }
  [class*="channelTextArea-"] [class*="scrollableContainer-"] {
    background-color: rgba(72, 60, 103, 0.4);
    border-radius: 22px !important; }

[class*="emojiButtonNormal-"] [class*="sprite-"] {
  filter: grayscale(55%) !important; }

[class*="emojiButtonNormal-"]:hover [class*="sprite-"] {
  filter: grayscale(0%) !important; }

div[class*="attachWrapper-"] div[class*="contents-"] svg path {
  fill: var(--green); }

div[class*="attachWrapper-"]:hover div[class*="contents-"] svg path {
  fill: rgba(103, 228, 128, 0.6); }

[class*="toolbar"] {
  background-color: rgba(72, 60, 103, 0.2) !important; }
  [class*="toolbar"] [class*="divider-"] {
    background-color: var(--purple); }
  [class*="toolbar"] button {
    background-color: rgba(72, 60, 103, 0.2) !important; }
    [class*="toolbar"] button div svg path {
      fill: var(--foreground); }
    [class*="toolbar"] button:hover {
      background-color: rgba(72, 60, 103, 0.1) !important; }
      [class*="toolbar"] button:hover div svg path {
        fill: var(--foreground); }

.roleName-2IkRdr {
  z-index: 1; }

.item-PXvHYJ > .roleDot-ZwSovK::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: inherit;
  opacity: 0.15;
  top: 0;
  left: 0;
  border-radius: 4px; }

[class*="colorRed-"] {
  border-color: var(--red) !important;
  color: var(--red) !important; }
  [class*="colorRed-"]:hover {
    opacity: 0.9; }

[class*="lookFilled-"] {
  background-color: var(--purple) !important;
  color: var(--dark-text) !important; }
  [class*="lookFilled-"]:hover {
    opacity: 0.9; }

.lookFilled-1Gx00P.colorRed-1TFJan {
  background-color: var(--red) !important;
  color: var(--dark-text) !important; }

[class*="nitroUpsellButtonWheel-"] path {
  fill: var(--dark-text) !important; }

div[class*="contents-"] svg[class*="dropperIcon-"] :nth-child(1) {
  fill: transparent; }

div[class*="contents-"] svg[class*="dropperIcon-"] :nth-child(2) {
  fill: var(--dark-text); }

[class*="customSwatch-"] div :nth-child(2) path {
  fill: var(--dark-text); }

[class*="customSwatch-"] div:hover :nth-child(2) path {
  fill: var(--dark-text) !important; }

[class*="colorPickerCustom-"] {
  border-radius: 15px;
  background: var(--background) !important;
  border-color: rgba(72, 60, 103, 0.2) !important; }

[class*="container-"] [class*="closeButton-"] {
  border-color: var(--pink); }
  [class*="container-"] [class*="closeButton-"] svg path {
    fill: var(--pink); }
  [class*="container-"] [class*="closeButton-"]:hover {
    background-color: rgba(72, 60, 103, 0.2); }

[class*="container-"] [class*="keybind-"] {
  color: var(--pink); }

[class*="children-"] [class*="divider-"] {
  border-top: thin solid var(--purple);
  opacity: 0.1; }

.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ::before {
  background: var(--green); }

[class*="control-"] [class*="container-"] {
  background-color: rgba(72, 60, 103, 0.6) !important; }
  [class*="control-"] [class*="container-"] svg rect {
    fill: var(--background); }

[class*="bd-switch-body"] {
  background-color: rgba(72, 60, 103, 0.6) !important; }
  [class*="bd-switch-body"] svg rect {
    fill: var(--background); }

[class*="labelRow-"] [class*="title-"] {
  color: var(--purple); }

[class*="connection-"] {
  background-color: rgba(72, 60, 103, 0.2); }
  [class*="connection-"] [class*="connectionHeader-"] {
    background-color: rgba(72, 60, 103, 0.4); }

button[class*="lookOutlined-"] {
  border-color: var(--purple) !important;
  color: var(--purple) !important; }

[class*="discriminator-"] {
  color: var(--pink); }

[id*="copy-id"] {
  background-color: var(--purple-darker); }
  [id*="copy-id"] [class*="item-"] {
    color: var(--foreground);
    background-color: var(--purple-darker);
    border-color: var(--background-darker); }

/* settings/deafen/mute buttons animated */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease; }

.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1; }

.button-14-BFJ {
  transition: 0.2s; }

.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2; }

@keyframes UserModalButtons {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

[class*="childWrapper-"] .homeIcon-FuNwkv path {
  fill: var(--green); }

[class*="childWrapper-"]:hover {
  background-color: var(--green) !important; }
  [class*="childWrapper-"]:hover .homeIcon-FuNwkv path {
    fill: var(--dark-text) !important; }

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background-color: var(--green) !important; }
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 .homeIcon-FuNwkv path {
    fill: var(--dark-text) !important; }

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
  background-color: rgba(72, 60, 103, 0.4); }

[id*="bd-pub-button"] {
  color: var(--green) !important; }
  [id*="bd-pub-button"]:hover {
    color: var(--dark-text) !important;
    background-color: var(--green) !important; }

div[class*="iconVisibility-"] [class*="unread-"] {
  background-color: var(--orange); }

span[class*="item-"] {
  background-color: var(--yellow) !important; }
  span[class*="item-"]:hover {
    background-color: rgba(231, 222, 121, 0.8) !important; }

.selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba(72, 60, 103, 0.4) !important; }

.layout-2DM8Md:hover {
  background-color: rgba(72, 60, 103, 0.2) !important; }

[class*="panels-"] {
  background-color: rgba(19, 18, 27, 0.7); }

[class*="sidebar-"] nav [class*="searchBar-"] {
  background-color: transparent !important; }

:root {
  --sidebar-width: 240px;
  /* change if your theme resizes the sidebar */ }

.chat-3bRxxu.threadSidebarOpen-vdkwIh {
  resize: horizontal;
  min-width: 400px;
  max-width: calc(100vw - var(--sidebar-width) - 72px - 400px); }

.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
  width: unset !important;
  flex: 1 1 auto; }

.threadSidebar-1o3BTy {
  width: unset;
  flex: 1 1 auto; }

.role-2irmRk {
  background: transparent;
  border: 1px solid;
  border-radius: 11px; }

.roleCircle-3xAZ1j {
  margin-left: 0; }

.addButton-pcyyf6.role-2irmRk {
  border-color: #4f545c; }

.addButtonIcon-1NMJ8u {
  width: 10px;
  height: 10px; }

[id*="popout_"] [class*="container-"] {
  border-color: rgba(72, 60, 103, 0.6);
  background-color: var(--background); }
  [id*="popout_"] [class*="container-"] [class*="resultsGroup-"] {
    color: var(--foreground); }
    [id*="popout_"] [class*="container-"] [class*="resultsGroup-"] [class*="selected-"] {
      background: rgba(72, 60, 103, 0.2) !important; }

[id*="popout_"] ::after {
  display: none; }

[class*="queryContainer-"], [class*="focused-"] {
  background: rgba(72, 60, 103, 0.2) !important; }
  [class*="queryContainer-"] [class*="queryShortcut-"], [class*="focused-"] [class*="queryShortcut-"] {
    display: none; }

.theme-dark .root-1gCeng {
  background-color: var(--background); }
  .theme-dark .root-1gCeng div {
    border-radius: 8px; }
  .theme-dark .root-1gCeng div[aria-selected="true"] {
    background: rgba(72, 60, 103, 0.2); }

[class*="iconWrapper-"] svg {
  color: var(--pink); }

[class*="divider-"] {
  background: rgba(255, 121, 198, 0.2); }

[class*="topic-"] {
  color: var(--pink); }

[class*="searchBar-"] {
  border-radius: 8px;
  background-color: rgba(72, 60, 103, 0.4); }
  [class*="searchBar-"] span[class*="searchFilter-"] {
    align-self: center;
    border-radius: 8px;
    border: 2px solid rgba(255, 121, 198, 0.1);
    color: var(--dark-text);
    background-color: var(--pink); }
  [class*="searchBar-"] span[class*="searchAnswer"] {
    align-self: center;
    border-radius: 8px;
    border: 2px solid rgba(255, 121, 198, 0.1);
    color: var(--dark-text);
    background-color: var(--pink); }

section[class*="container-"] [class*="toolbar-"] {
  background-color: transparent !important; }

[class*="tabBody-"] {
  background-color: var(--background-darker) !important; }

[class*="peopleColumn-"] {
  margin: 0 12px 15px 12px;
  border-radius: 0 0 15px 15px;
  background-color: var(--background); }
