[class*="interactive"]:hover {
  color: var(--color16);
}

[class*="username-"] {
  color: var(--color15);
}

[class*="labelContainer-"] {
  color: var(--white);
}

[id*="message-actions-delete"] {
  color: var(--red);
  [class*="iconContainer-"] {
    color: var(--red);
  }
  &[class*="focused-"] {
    background-color: var(--red);
    color: var(--text-alt);
    [class*="iconContainer-"] {
      color: var(--text-alt);
    }
  }
}
