[class*="theme-dark"], [class*="theme-light"] {
  --header-primary: var(--yellow);
  --header-secondary: var(--color7);
  --text-normal: var(--white);
  --text-muted: var(--color8);
  --text-link: hsl(326, 100%, 74%);
  --text-link-low-saturation: hsla(326, 100%, 74%, 0.6);
  --text-positive: hsl(240, 9%, 89%);
  --text-warning: hsla(350, 75%, 65%, 0.8);
  --text-danger: hsl(350, 75%, 65%);
  --text-brand: var(--pink);
  --interactive-normal: hsl(253, 35%, 66%);
  --interactive-hover: hsla(253, 35%, 66%, 0.7);
  --interactive-active: hsla(253, 35%, 66%, 0.5);
  --interactive-muted: var(--color8);
  --background-primary: var(--bg);
  --background-secondary: var(--bg-darker);
  --background-secondary-alt: var(--bg-dark);
  --background-tertiary: var(--bg-lighter);
  --background-accent: var(--bg);
  --background-floating: var(--bg-dark);
  --background-mobile-primary: var(--bg);
  --background-mobile-secondary: var(--bg-lighter);
  --background-modifier-hover: rgba(65,65,77,0.10);
  --background-modifier-active: rgba(65,65,77,0.20);
  --background-modifier-selected: rgba(65,65,77,0.30);
  --background-modifier-accent: rgba(25,22,34,0.08);
  --info-positive-text: var(--white);
  --info-warning-text: var(--white);
  --info-danger-text: var(--white);
  --info-help-background: hsla(257, 25%, 14%,0.1);
  --info-help-foreground: hsl(240, 9%, 89%);
  --info-help-text: var(--white);
  --status-warning-text: var(--temp-quotes);
  --scrollbar-thin-thumb: rgba(152,139,199,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(152,139,199,0.5);
  --scrollbar-auto-track: rgba(37,33,49,0.5);
  --scrollbar-auto-scrollbar-color-thumb: rgba(152,139,199,0.5);
  --scrollbar-auto-scrollbar-color-track: rgba(37,33,49,0.5);
  --elevation-stroke: 0 0 0 1px var(--tab-drop-bg);
  --elevation-low: rgba(37, 33, 49,0.15);
  --elevation-medium: 0 4px 4px rgba(37, 33, 49,0.20);
  --elevation-high: 0 8px 16px rgba(37, 33, 49,0.25);
  --logo-primary: hsl(55, 70%, 69%);
  --control-brand-foreground: hsl(55, 70%, 69%);
  --control-brand-foreground-new: hsl(55, 70%, 69%);
  --background-mentioned: hsla(253, 35%, 66%,0.1);
  --background-mentioned-hover: hsla(253, 35%, 66%,0.2);
  --background-message-hover: rgba(65,65,77,0.1);
  --channels-default: hsla(240, 9%, 89%, 0.5);
  --guild-header-text-shadow: 0 1px 1px hsla(252, 23%, 9%, 0.4);
  --channeltextarea-background: var(--bg-darker);
  --activity-card-background: var(--bg-darker);
  --textbox-markdown-syntax: var(--color8);
  --deprecated-card-bg: var(--bg-darker);
  --deprecated-card-editable-bg: var(--bg-dark);
  --deprecated-store-bg: var(--bg-darker);
  --deprecated-quickswitcher-input-background: var(--bg-light);
  --deprecated-quickswitcher-input-placeholder: rgba(225, 225, 230,0.3);
  --deprecated-text-input-bg: rgba(32, 27, 45,0.02);
  --deprecated-text-input-border: rgba(37, 33, 49,0.3);
  --deprecated-text-input-border-hover: #252131;
  --deprecated-text-input-border-disabled: #15121E;
  --deprecated-text-input-prefix: #13111B;

  // theme-light and dark
  --info-positive-background: hsla(257, 25%, 14%,0.1);
  --info-positive-foreground: hsl(240, 9%, 89%);
  --info-warning-background: hsla(257, 25%, 14%,0.1);
  --info-warning-foreground: hsl(240, 9%, 89%);
  --info-danger-background: hsla(257, 25%, 14%,0.1);
  --info-danger-foreground: hsl(240, 9%, 89%);
  --status-positive-background: hsl(257, 25%, 14%);
  --status-positive-text: hsl(240, 33%, 98%);
  --status-warning-background: var(--color0);
  --status-danger-background: var(--bg-lighter);
  --status-danger-text: hsl(240, 33%, 98%);
  --focus-primary: var(--line-highlight);
}

[data-popout-root], html {
  --brand-experiment: hsla(326, 100%, 74%, 0.9);
  --brand-experiment-200: var(--text-alt);
  --brand-experiment-560: var(--line-highlight);
  --brand-experiment-30a: var(--pink);
  --brand-experiment-400: var(--text-muted);
  --brand-experiment-600: var(--red);
  --brand-experiment-15a: var(--background-tertiary);
  --brand-experiment-800: hsla(326, 100%, 74%, 0.2);
  --brand-experiment-05a: var(--line-highlight);
  --brand-experiment-10a: var(--line-highlight);
  --brand-experiment-100: var(--bg);
  --brand-experiment-500: var(--line-highlight);

  /* if you find something RED, report a issue in GitHub, that's a way for me to discover where these colors are being applied */
  --brand-experiment-130: red;
  --brand-experiment-160: red;
  --brand-experiment-230: red;
  --brand-experiment-260: red;
  --brand-experiment-300: red;
  --brand-experiment-330: red;
  --brand-experiment-360: red;
  --brand-experiment-430: red;
  --brand-experiment-460: red;
  --brand-experiment-530: red;
  --brand-experiment-630: red;
  --brand-experiment-660: red;
  --brand-experiment-700: red;
  --brand-experiment-730: red;
  --brand-experiment-760: red;
  --brand-experiment-830: red;
  --brand-experiment-860: red;
  --brand-experiment-900: red;
  --brand-experiment-20a: red;
  --brand-experiment-25a: red;
  --brand-experiment-35a: red;
  --brand-experiment-40a: red;
  --brand-experiment-45a: red;
  --brand-experiment-50a: red;
  --brand-experiment-55a: red;
  --brand-experiment-60a: red;
  --brand-experiment-65a: red;
  --brand-experiment-70a: red;
  --brand-experiment-75a: red;
  --brand-experiment-80a: red;
  --brand-experiment-85a: red;
  --brand-experiment-90a: red;
  --brand-experiment-95a: red;
}
