// ROLES
.role-2irmRk{
  background: transparent;
  border: 1px solid;
  border-radius: 11px;
}
.roleCircle-3xAZ1j {
  margin-left: 0;
}
.addButton-pcyyf6.role-2irmRk {
    border-color: #4f545c;
}
.addButtonIcon-1NMJ8u {
    width: 10px;
    height: 10px;
}

// popout
[id*="popout_"] {
  [class*="container-"] {
    border-color: rgba(72, 60, 103, 0.6);
    background-color: var(--background);
    [class*="resultsGroup-"] {
      color: var(--foreground);
      [class*="selected-"] {
        background: rgba(72, 60, 103, 0.2)!important;
      }
    }
  }
  ::after {
    display: none;
  }
}

// search
[class*="queryContainer-"], [class*="focused-"] {
  background: rgba(72, 60, 103, 0.2)!important;
  [class*="queryShortcut-"] {
    display: none;
  }
}

// root popout bg
.theme-dark .root-1gCeng {
  background-color: var(--background);
}

// see profile navigation buttons
[class*="tabBarItem-"] {
  font-family: var(--font-display);
  padding: 6px;
  border-radius: 6px 6px 0 0;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
  border-bottom-color: var(--green)!important;
}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
  border-bottom-color: var(--green);
  opacity: 0.9;
}

// autocomplete popout
.theme-dark .autocomplete-1vrmpx {
  border-radius: 15px;
  border: 1px solid var(--dark-text);
  [class*="scroller-"] {
    background-color: rgba(25, 22, 34, 0.8);
  }
  background-color: rgba(25, 22, 34, 0.8);
  [class*="base-"] {
    [class*="divider-"] {
      background: transparent;
    }
    &[class*="selected-"] {
      background-color: var(--active)!important;
    }
  }
}

// peskmodal popout
[class*="perksModal-"] {
  background-color: var(--background)!important;
}

// focuslock popout
[class*="focusLock-"] {
  .theme-light .root-1gCeng {
    box-shadow: 0 0 0 1px rgba(152, 139, 199,.3), 0 2px 10px 0 rgba(152, 139, 199,.1);
  }
  div {
    div {
      div {
        h3 {
          color: var(--foreground);
        }
        [class*="flex-"] {
          [class*="colorHeaderSecondary-"] {
            color: rgba(225, 225, 230, 0.6)!important;
          }
        }
        [class*="content-"] {
          button[class*="container-"] {
            [class*="colorStandard-"] {
              color: var(--foreground)!important;
            }
            background-color: var(--background-darker);
          }
        }
      }
    }
  }
}

  }
  div[aria-selected="true"] {
    background: rgba(72, 60, 103, 0.2);
  }
}
