[class*="sidebar-"] {
  [class*="side-"] {
    [class*="item-"] {
      color: var(--channels-default);
      &::before {
        color: var(--green);
      }
      &[class*="selected-"] {
        color: var(--white);
        &::before {
          color: hsla(132, 70%, 65%, 0.6);
        }
      }
    }
  }
}

[class*="name-"], [class*="labelContainer-"] {
  --interactive-normal: hsla(240, 9%, 89%, 0.5);
  --interactive-hover: hsla(240, 9%, 89%, 0.7);
  --interactive-active: hsl(240, 9%, 89%);
  [class*="iconContainer-"] {
    color: var(--green);
  }
}
