[class*="sidebar-"] {
  background: var(--background-spacing);
  padding: 10px 10px 10px 10px;
  section[class*="panels-"] {
    margin-top: 10px;
    border-radius: 12px;
    &:hover {
      [class*="subtext-"] {
        color: hsla(240, 9%, 89%, 1);
      }
    }
  }
  [class*="container-"] {
    border-radius: 12px;
    [class*="animatedContainer-"] {
      border-radius: 12px 12px 0 0;
    }
    [class*="headerChildren-"] {
      color: var(--header-primary);
    }
  }
}

.chat-3bRxxu, .threadSidebar-1o3BTy {
  background-color: var(--background-spacing);
}

[class*="container-2wlB3z"] {
  height: calc(100% - 20px);
  border-radius: 12px;
  margin: 10px 10px 10px 0;
  [class*="membersWrap-"] {
    margin: 5px;
    [class*="members-"] {
      margin-bottom: 12px;
    }
  }
}

[class*="sidebar-"] [class*="layout-"] {
  margin-right: 6px;
  margin-left: 0px;
  padding-left: 6px !important;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 4px;
}

[class*="privateChannels-"] {
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent!important;
  &:hover {
    background-color: var(--scrollbar-auto-track)!important;
  }
}

[class*="homeWrapperNormal-"] {
  background-color: var(--background-spacing);
  [class*="scroller-"] {
    border: 1px solid var(--background-secondary);
    background-color: var(--background-primary);
    margin: 10px 10px 10px 0;
    border-radius: 12px;
  }
}

[class*="pageContent-"] {
  background-color: var(--background-spacing);
  [class*="stageSection-"] {
    border: 1px solid var(--background-secondary);
    background-color: var(--background-primary);
    margin: 16px 16px 16px 10px;
    border-radius: 12px;
  }
  [class*="nowPlayingSidebar-"] {
    background-color: var(--background-spacing);
    [class*="container-"] {
      background: var(--background-secondary);
      height: 90vh;
      margin: 10px;
      border-radius: 12px;
    }
    [class*="emptyCard-"] {
      background: var(--background-secondary);
    }
  }
}

[class*="chatContent-"] {
  background-color: var(--background-spacing);
  [class*="messagesWrapper-"] {
    padding: 4px;
    [class*="scroller-"] {
      background-color: var(--background-primary);
      margin: 10px 10px 10px 0;
      border-radius: 12px!important;
    }
  }
  [class*="form-"] {
    &::before {
      display: none;
    }
  }
}

form {
  div {
    >[class*="wrapper-"] {
      margin-top: 10px;
      background-color: var(--background-secondary);
    }
  }
}

[class*="channelTextArea-"] {
  background-color: transparent;
  border-radius: 12px;
  height: 52px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 6px;
  [class*="scrollableContainer-"] {
    padding: 3px 0;
    border-radius: 15px;
    background-color: var(--background-secondary-alt);
  }
  &[class*="channelTextAreaDisabled-"] {
    [class*="scrollableContainer-"] {
      opacity: .8;
    }
  }
}

[class*="typing-"] {
  position: relative;
  font-size: .8rem;
  text-align: center;
  margin: -4px 0 0 0;
  padding: 0 5px 5px 0;
  height: 14px;
  left: 0;
  color: var(--text-muted);
}

.dots-3Bkt3k.themed-IQiCm3 {
  color: var(--text-muted);
}

.slowModeIcon-1BPDC_ {
  g {
    path {
      fill: var(--text-muted);
    }
  }
}

.wrapper-39oAo3 {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 6px;
}

.form-2fGMdU {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

section[class*="headerBar-"] {
  background: var(--background-spacing);
  padding: 0 10px 0 0;
  [class*="children"] {
    background-color: var(--background-secondary);
    margin: 13px 10px 0 2px;
    border-radius: 12px!important;
    padding: .6rem;
    &::after {
      display: none;
    }
    [class*="toolbar-"] {
      padding: .6rem;
      background-color: var(--background-secondary);
      margin: 13px 2px 0 0;
      border-radius: 0 12px 12px 0;
    }
  }
}

[class*="base-"] {
  [class*="content-"] {
    section[class*="container-"] {
      background: var(--background-spacing);
      padding: 0 10px 0 0;
      [class*="children"] {
        background-color: var(--background-secondary-alt);
        margin: 10px 0 0 0;
        border-radius: 12px 0 0 12px;
        padding: .6rem;
        &::after {
          display: none;
        }
      }
      [class*="toolbar-"] {
        padding: .6rem;
        background-color: var(--background-secondary-alt);
        margin: 10px 2px 0 0;
        border-radius: 0 12px 12px 0;
      }
    }
  }
}

[class*="nowPlayingColumn-"] {
  background-color: var(--background-spacing);
  [class*="container-"] {
    background: var(--background-primary);
    height: 97.4%;
    margin: 10px;
    border-radius: 12px;
    [class*="emptyCard-"] {
      background: transparent;
    }
  }
}

[class*="app-"] {
  [class*="layers-"] {
    nav {
      &[class*="wrapper-"] {
        &[class*="guilds-"] {
          margin: 10px 0 10px 10px;
          >ul {
            [class*="scroller-"] {
              border-radius: 12px;
              background: var(--background-secondary-alt);
            }
          }
        }
      }
    }
  }
}
