// main icon
[class*="iconWrapper-"] {
  svg {
    color: var(--pink);
  }
}

// divider
[class*="divider-"] {
  background: rgba(255, 121, 198, 0.2);
}

// main text
[class*="topic-"] {
  color: var(--pink);
}

// search
[class*="searchBar-"] {
  border-radius: 8px;
  background-color: rgba(72, 60, 103, 0.4);
  span[class*="searchFilter-"] {
    align-self: center;
    border-radius: 8px;
    border: 2px solid rgba(255, 121, 198, 0.1);
    color: var(--dark-text);
    background-color: var(--pink);
  }
  span[class*="searchAnswer"] {
    align-self: center;
    border-radius: 8px;
    border: 2px solid rgba(255, 121, 198, 0.1);
    color: var(--dark-text);
    background-color: var(--pink);
  }
}

// toolbar background
section[class*="container-"] {
  [class*="toolbar-"] {
    background-color: transparent!important;
  }
}
