:root {
  --background: #191622;
  --background-lighter: #252131;
  --background-light: #201B2D;
  --background-dark: #13111B;
  --background-darker: #15121E;
  --hover: #44475a;
  --active: #41414D;
  --dark-text: #1b1b1c;
  --foreground: #E1E1E6;
  --purple: #988BC7;
  --purple-darker: #483C67;
  --cyan: #78D1E1;
  --green: #67E480;
  --orange: #E89E64;
  --pink: #FF79C6;
  --red: #E96379;
  --yellow: #E7DE79;
}
