// import fonts
@font-face {
    font-family: 'product_sansregular';
    src: url('./assets/font/productsans-regular-webfont.woff2') format('woff2'), url('./assets/font/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
   font-family: 'ckc_mono';
   src: url('./assets/font/caskaydia_cove_nerd_font_complete_mono-webfont.woff2') format('woff2'), url('./assets/font/caskaydia_cove_nerd_font_complete_mono-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
// import the main files, including variables
@import './variables';
@import './components/main';

// importing components
@import './components/settings';
@import './components/images';
@import './components/popout';
@import './components/theme';
@import './components/snippets';
@import './components/spacing';
@import './components/sidebar';
@import './components/home';
@import './components/chat';
@import './components/title-bar';
